.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
}

.modal-body {
    background: white;
    z-index: 100;
    padding: 20px;
    width: 60%;
    min-width: 200px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.6) 2px 1px 1px 1px;
}

.selection {
    padding: 10px;
    width: 50%;
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.selection div {
    background: dodgerblue;
    padding: 10px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.selection div:hover {
    color: wheat;
}


@media only screen and (max-width: 400px) {
    .selection {
        width: 100%;
    }

    .selection div {
        margin: 5px;
    }

    .modal-body {
        width: 100%;
    }
}
